<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Posting</title>
</head>
<body>

<form action="/postings/new" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Title">
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" id="content" name="content" class="form-control" placeholder="Content">
    </div>
    <div>
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" class="form-control" placeholder="Start Date">
    </div>
    <div>
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="endDate" class="form-control" placeholder="End Date">
    </div>
    <div id="questionList">
    </div>
    <button type="button" onclick="addObject()">+</button>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">등록</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/postings}'|"
                    type="button">취소
            </button>
        </div>
    </div>

</form>

<script>
    function addObject() {
        var index = document.getElementById('questionList').children.length;
        var html = '<div id="inputs"><input type="text" name="questions[' + index + '].content" /> <input type="text" name="questions[' + index + '].maxLength" /></div>';
        document.getElementById('questionList').insertAdjacentHTML('beforeend', html);
    }
</script>
</body>

</html>